<div class="parallax banner">
  <div class="container">
    <div class="row info-box">
      <div class="col-xs-12 col-md-3">
        <p>"That idea of peace and love toward humanity shouldn't be nationalistic or denominational. It should be a chief concern for all mankind."</p>
        <h3>- Yasiin Bey</h3>
        <button type="button" class="btn btn-danger btn-block">Read More</button>
      </div>
    </div>
  </div>
</div>
<section class="container-fluid shadow-top">
  <div class="row">
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">January</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">February</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">March</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">April</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">May</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">June</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">July</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">August</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">September</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">October</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">November</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">December</button>
  </div>
</section>
<main class="wrapper">
  <h1 class="text-center">Events</h1>
  <div class="centered">
    <div class="box shadow"></div>
    <div class="box shadow"></div>
    <div class="box shadow"></div>
    <div class="box shadow"></div>
  </div>
</main>
<div class="parallax banner2">
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</div>
<main class="wrapper">
  <h1 class="text-center">On-going Events</h1>
  <div class="centered">
    <div class="box shadow"></div>
    <div class="box shadow"></div>
    <div class="box shadow"></div>
  </div>
</main>
<footer>
  <h1>Some footer content</h1>
</footer>