<div class="parallax banner">
  <div class="container-fluid">
    <div class="row">
      <div class="info-box">
        <p>"That idea of peace and love toward humanity shouldn't be nationalistic or denominational. It should be a chief concern for all mankind."</p>
        <h3>- Yasiin Bey</h3>
      </div>
    </div>
  </div>
</div>
<section class="container-fluid shadow-top">
  <div class="row">
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">January</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">February</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">March</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">April</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">May</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">June</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">July</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">August</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">September</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">October</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">November</button>
    <button type="button" class="btn btn-danger col-xs-12 col-md-2">December</button>
  </div>
</section>
<main class="container">
  <div class="row">
    <div class="col-xs-12 margin">
      <div class="wrapper">
        <div class="box shadow"></div>
        <div class="box shadow"></div>
        <div class="box shadow"></div>
      </div>
    </div>
  </div>
</main>
<div class="parallax banner2">
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</div>